In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
url=r"C:\Users\home\Downloads\Indian_automoble_buying_behavour_study_1.0.csv"
df=pd.read_csv(url)
print(df.head())
data=df.drop(['Marrital Status','Education','Wife Working'],axis=1)
print(EV_df)

   Age Profession Marrital Status      Education  No of Dependents  \
0   27   Salaried          Single  Post Graduate                 0
1   35   Salaried         Married  Post Graduate                 2
2   45   Business         Married       Graduate                 4
3   41   Business         Married  Post Graduate                 3
4   31   Salaried         Married  Post Graduate                 2

  Personal loan House Loan Wife Working   Salary  Wife Salary  Total Salary  \
0           Yes         No           No   800000            0        800000
1           Yes        Yes          Yes  1400000       600000       2000000
2           Yes        Yes           No  1800000            0       1800000
3            No         No          Yes  1600000       600000       2200000
4           Yes         No          Yes  1800000       800000       2600000

     Make    Price
0     i20   800000
1    Ciaz  1000000
2  Duster  1200000
3    City  1200000
4     SUV  1600000
    Age  Profession  No of Dependents  Personal loan  House Loan   Salary  \
0    27           0                 0              1           0   800000
1    35           0                 2              1           1  1400000
2    45           1                 4              1           1  1800000
3    41           1                 3              0           0  1600000
4    31           0                 2              1           0  1800000
..  ...         ...               ...            ...         ...      ...
94   27           1                 0              0           0  2400000
95   50           0                 3              0           0  3800000
96   51           1                 2              1           1  2200000
97   51           0                 2              0           0  2700000
98   51           0                 2              1           1  2200000

    Wife Salary  Total Salary  Make    Price
0             0        800000   5.0   800000
1        600000       2000000   0.0  1000000
2             0       1800000   6.0  1200000
3        600000       2200000   4.0  1200000
4        800000       2600000   1.0  1600000
..          ...           ...   ...      ...
94            0       2400000   1.0  1600000
95      1300000       5100000   1.0  1600000
96            0       2200000   0.0  1100000
97      1300000       4000000   NaN  1500000
98            0       2200000   0.0  1100000

[99 rows x 10 columns]

In [30]:
print(df.shape)

(99, 13)

In [6]:
print(df.isnull().sum())

Age                 0
Profession          0
Marrital Status     0
Education           0
No of Dependents    0
Personal loan       0
House Loan          0
Wife Working        0
Salary              0
Wife Salary         0
Total Salary        0
Make                0
Price               0
dtype: int64

In [9]:

print(df)

    Age Profession  No of Dependents Personal loan House Loan   Salary  \
0    27   Salaried                 0           Yes         No   800000
1    35   Salaried                 2           Yes        Yes  1400000
2    45   Business                 4           Yes        Yes  1800000
3    41   Business                 3            No         No  1600000
4    31   Salaried                 2           Yes         No  1800000
..  ...        ...               ...           ...        ...      ...
94   27   Business                 0            No         No  2400000
95   50   Salaried                 3            No         No  3800000
96   51   Business                 2           Yes        Yes  2200000
97   51   Salaried                 2            No         No  2700000
98   51   Salaried                 2           Yes        Yes  2200000

    Wife Salary  Total Salary    Make    Price
0             0        800000     i20   800000
1        600000       2000000    Ciaz  1000000
2             0       1800000  Duster  1200000
3        600000       2200000    City  1200000
4        800000       2600000     SUV  1600000
..          ...           ...     ...      ...
94            0       2400000     SUV  1600000
95      1300000       5100000     SUV  1600000
96            0       2200000    Ciaz  1100000
97      1300000       4000000  Creata  1500000
98            0       2200000    Ciaz  1100000

[99 rows x 10 columns]

In [31]:
print(data)

    Age Profession  No of Dependents Personal loan House Loan   Salary  \
0    27   Salaried                 0           Yes         No   800000
1    35   Salaried                 2           Yes        Yes  1400000
2    45   Business                 4           Yes        Yes  1800000
3    41   Business                 3            No         No  1600000
4    31   Salaried                 2           Yes         No  1800000
..  ...        ...               ...           ...        ...      ...
94   27   Business                 0            No         No  2400000
95   50   Salaried                 3            No         No  3800000
96   51   Business                 2           Yes        Yes  2200000
97   51   Salaried                 2            No         No  2700000
98   51   Salaried                 2           Yes        Yes  2200000

    Wife Salary  Total Salary    Make    Price
0             0        800000     i20   800000
1        600000       2000000    Ciaz  1000000
2             0       1800000  Duster  1200000
3        600000       2200000    City  1200000
4        800000       2600000     SUV  1600000
..          ...           ...     ...      ...
94            0       2400000     SUV  1600000
95      1300000       5100000     SUV  1600000
96            0       2200000    Ciaz  1100000
97      1300000       4000000  Creata  1500000
98            0       2200000    Ciaz  1100000

[99 rows x 10 columns]

In [32]:
data["Profession"]= data["Profession"].map({"Salaried" : 0, "Business" : 1})
print(data.head())

   Age  Profession  No of Dependents Personal loan House Loan   Salary  \
0   27           0                 0           Yes         No   800000
1   35           0                 2           Yes        Yes  1400000
2   45           1                 4           Yes        Yes  1800000
3   41           1                 3            No         No  1600000
4   31           0                 2           Yes         No  1800000

   Wife Salary  Total Salary    Make    Price
0            0        800000     i20   800000
1       600000       2000000    Ciaz  1000000
2            0       1800000  Duster  1200000
3       600000       2200000    City  1200000
4       800000       2600000     SUV  1600000

In [33]:
data["Personal loan"]= data["Personal loan"].map({"No" : 0, "Yes" : 1})
print(data.head())

   Age  Profession  No of Dependents  Personal loan House Loan   Salary  \
0   27           0                 0              1         No   800000
1   35           0                 2              1        Yes  1400000
2   45           1                 4              1        Yes  1800000
3   41           1                 3              0         No  1600000
4   31           0                 2              1         No  1800000

   Wife Salary  Total Salary    Make    Price
0            0        800000     i20   800000
1       600000       2000000    Ciaz  1000000
2            0       1800000  Duster  1200000
3       600000       2200000    City  1200000
4       800000       2600000     SUV  1600000

In [34]:
data["House Loan"]= data["House Loan"].map({"No" : 0, "Yes" : 1})
print(data.head())

   Age  Profession  No of Dependents  Personal loan  House Loan   Salary  \
0   27           0                 0              1           0   800000
1   35           0                 2              1           1  1400000
2   45           1                 4              1           1  1800000
3   41           1                 3              0           0  1600000
4   31           0                 2              1           0  1800000

   Wife Salary  Total Salary    Make    Price
0            0        800000     i20   800000
1       600000       2000000    Ciaz  1000000
2            0       1800000  Duster  1200000
3       600000       2200000    City  1200000
4       800000       2600000     SUV  1600000

In [35]:
data["Make"]= data["Make"].map({"Ciaz" : 0, "SUV" : 1, "Baleno": 2, "Creta": 3, "City": 4, "i20": 5,"Duster": 6, "Verna": 7, "Luxuray": 8})
print(data.head())

   Age  Profession  No of Dependents  Personal loan  House Loan   Salary  \
0   27           0                 0              1           0   800000
1   35           0                 2              1           1  1400000
2   45           1                 4              1           1  1800000
3   41           1                 3              0           0  1600000
4   31           0                 2              1           0  1800000

   Wife Salary  Total Salary  Make    Price
0            0        800000   5.0   800000
1       600000       2000000   0.0  1000000
2            0       1800000   6.0  1200000
3       600000       2200000   4.0  1200000
4       800000       2600000   1.0  1600000

In [45]:
from sklearn.preprocessing import normalize
data_scaled = normalize(data)
data_scaled=pd.DataFrame(data_scaled, columns=data.columns)
data_scaled.head()

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [42]:
from sklearn.cluster import KMeans
k_mean = KMeans(n_clusters=2)
k_mean.fit(data_scaled)

NameError: name 'data_scaled' is not defined